<div>
	<h3> Your learing progress:</h3>
	<div>
		<h4> Level: N5</h4>
		<div class="status_bar">
			<div class="progress">
				<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= @n5_process %>%">
					<span><%= @n5_process %>%</span>
				</div>
			</div>
		</div>
	</div>
</div>